# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# venv
.venv/
.python-version
uv.lock
.vs/

# config files
config.json
record.json
apikey.json

# test files
test*

# vscode
.vscode/